@using Vidly.Models
@model Vidly.ViewModels.CustomerDetailViewModel


@{
    ViewBag.Title = "Customer Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Customer.Name</h1>
<hr/>
<h2>Membership Type : @Model.Customer.MembershipType.Name</h2>
<br/>
@if (!Model.Customer.BirthDate.Equals(null))
{
    <h2> Birthdate : @Convert.ToDateTime(Model.Customer.BirthDate).ToShortDateString() </h2>
}
